<configuration>

	<include resource="org/springframework/boot/logging/logback/defaults.xml"/>

	<springProperty
		name="webhook_destination"
		source="application.discord.logWebhook"
		defaultValue="${APPLICATION_DISCORD_LOG_WEBHOOK}"
	/>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<!-- Keywords at https://logback.qos.ch/manual/layouts.html#conversionWord -->
			<pattern>
				%date{ISO8601} %clr(%5p) [%15.15t] %clr(%-40.40logger{39}){cyan} [%mdc] {%kvp} %m%n%wEx
			</pattern>
		</encoder>
    </appender>

	<appender name="webhook" class="dev.m0b1.vrsvp.logging.LoggingWebhook">
		<destination>${webhook_destination}</destination>
	</appender>

	<logger name="org.apache.catalina" level="WARN"/>
	<logger name="org.springframework" level="WARN"/>

    <root level="info">
        <appender-ref ref="stdout"/>
		<appender-ref ref="webhook"/>
    </root>

</configuration>
