<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="net.logstash.logback.encoder.LogstashEncoder">
			<fieldNames>
				<!-- https://github.com/logfellow/logstash-logback-encoder#loggingevent-fields -->
				<levelValue>[ignore]</levelValue>
				<timestamp>timestamp</timestamp>
				<version>[ignore]</version>
			</fieldNames>
		</encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
